<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Đổi mật khẩu</title>
<link rel="stylesheet" href="/style.css">
<link rel="stylesheet" href="/header.css">
	<link rel="stylesheet" href="/footer.css">
</head>
<body>

	<div th:replace="poly/fragments/header :: header"></div>

	<!-- Form đổi mật khẩu -->
	<div class="form-container">
		<h2>Đổi mật khẩu</h2>
		<form th:action="@{/account/doiMatKhau}" method="post">
			<div class="form-group">
				<label>Mật khẩu cũ</label> <input type="password" name="oldPassword"
					required>
			</div>
			<div class="form-group">
				<label>Mật khẩu mới</label> <input type="password"
					name="newPassword" required>
			</div>
			<div class="form-group">
				<label>Xác nhận mật khẩu</label> <input type="password"
					name="confirmPassword" required>
			</div>
			<button type="submit" class="btn-submit">Cập nhật mật khẩu</button>
		</form>

		<!-- Thông báo -->
		<div th:if="${error}" class="message error" th:text="${error}"></div>
		<div th:if="${message}" class="message success" th:text="${message}"></div>
	</div>

	<div th:replace="poly/fragments/footer :: footer"></div>
</body>
</html>
